body {
    margin: 0;
    font-family: Arial;
    background: #f0f2f5;
}

.sidebar {
    width: 200px;
    height: 100vh;
    background: #2f3640;
    position: fixed;
    color: white;
    padding: 20px;
}

.content {
    margin-left: 220px;
    padding: 20px;
}

.card {
    background: white;
    padding: 20px;
    margin: 10px 0;
}